body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

a {
  color: #00B7FF;
}

nav ul{
  height:600px;
  width:45%;
}

nav ul {
  overflow:hidden;
  overflow-y:scroll;
}
